<html>
    <head>
        <title>Client Build eMedBR</title>
    </head>
    <body>
        <section class="container">
            <fieldset>
                <legend>Sistema auxiliar para a criação de pacotes do eMedBR</legend>
            </fieldset>
            <section class="row" ng-repeat="compiler in compilers">
                <div class="col-md-3">
                    <label>JOB</label>
                    <input type="text" ng-model="compiler.job" class="form-control"></input>
                </div>
                <div class="col-md-3">
                    <label>Banco</label>
                    <input type="text" ng-model="compiler.banco" class="form-control"></input>
                </div>
                <div class="col-md-3">
                    <label>Versão</label>
                    <input type="text" ng-model="compiler.versao" class="form-control"></input>
                </div>
                <div class="col-md-3">
                    <label>WAR Final</label>
                    <input type="text" ng-model="compiler.warFinal" class="form-control"></input>
                </div>
                <br /><br /><br /><br />
            </section>
            <hr>
            <section class="row">
                <div class="col-md-12 text-align-right">
                    <button ng-click="addCompiler()" class="btn btn-default">Adicionar</button>
                    <button ng-click="sendCompile()" class="btn btn-default">Gerar</button>
                    <button ng-click="executeCompile()" class="btn btn-default">Compilar</button>
                </div>
            </section>
        </section>
    </body>
</html>